*{
    box-sizing: border-box;
}

h4{
    font-weight: bold;
}

.col-lg-12, .col-md-12, .col-sm-12{
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 1%;
    height: 1500px;
}

#margin-style{
    margin-bottom:50px;
    margin-top: 25px;
}

#header-nav{
    background-color: gray;
}

#navbar-style{
    border: lightgray;
}

#nav-list a{
    border: 1px solid gray;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
}

#nav-list a:hover{
    background-color: gray;
}

#navbarToggleExternalContent{
    margin-top:0px;
}

@media(min-width: 768px){
    .navbar-toggler{
        display:none;
    }
    #navbarToggleExternalContent{
        display:none;
    }
}